* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
}

.card {
  display: block;
  padding: 10px;
  border: 1px solid grey;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.005);
}

.name span {
  color: green;
}

.price span {
  color: green;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: #666;
}
