.buttons {
  display: flex;
  align-items: center;
}

.button {
  cursor: pointer;
  border: 1px solid grey;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minus {
  margin-left: 5px;
}

.btn {
  padding: 5px;
  border: 1px solid grey;
  margin-top: 10px;
  cursor: pointer;
}

#product {
  width: 300px;
  padding: 10px;
  border: 1px solid grey;
}
